
/* style.css */

/*--------------------------------------*/

/******************************/
/*  Everything not in _MAIN_  */
/******************************/

:root {
    /* Letter */
    /* --width  : min( 77.274vh, 100vw );
    --height : min( 100vh, 129.41vw ); */

    /* A4 */
    --width  : min( 70.711vh, 100vw );
    --height : min( 100vh, 141.421vw );
}

html {
    background-color: white;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#_MAIN_ {
    position: relative;
    width  : var(--width );
    height : var(--height);
    margin: auto;

    box-shadow: 2px 2px 8px #00000066;
    transition: box-shadow .3s;
    
}
#_MAIN_:hover {
    transition: box-shadow .3s;
    box-shadow: 2px 2px 8px #000000b3;
}

/*--------------------------------------*/

/**************************/
/*  Everything in _MAIN_  */
/**************************/

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    display: contents;
}

#_MAIN_ {
    --header-height : calc( .12*var(--height) );
    --flex-height   : calc( var(--height) - var(--header-height) );
    --split  : calc( var(--width) * .61803399 );
}

#_MAIN_ {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------------------------------------------------------------*/

/**********/
/* Header */
/**********/

header {
    position: relative;
    display: block;
    width: 100%;
    height: var(--header-height);

    background-color: #e0ddde;
    background-image: linear-gradient(to top right, #dad5e6, #a5979e);
    white-space: nowrap;

    font-size: calc( .03 * var(--width) );

    box-shadow:
    0
    calc(.002*var(--width))
    calc(.008*var(--width))
    #00000054                 ;
}

header > h1 {
    margin: 0;
    padding: 2.5% 1% .5% 1%;

    font-size: 2em;
    font-weight: 600;
    text-shadow:
        calc(.003*var(--width))
        calc(.003*var(--width))
        calc(.009*var(--width))
        #0000004d        ;
}
header > h2 {
    margin: 0;
    padding: .5% 1% 1% 1%;

    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 0 0 black ;
}

#headshot {
    position: absolute;

    width: calc( .12 * var(--width) );
    transform: translate(0,-50%);
    right: 3%;
    top: 50%;
    
    border-radius: 100%;
    box-shadow:
        calc(-.001*var(--width))
        calc(-.001*var(--width))
        calc( .005*var(--width))
        #0000004f             ;
}


/*----------------------------------------------------------------------------*/

/*******************************/
/*  Everything in Resume Body  */
/*******************************/

#flex {
    display: flex;
    align-items: stretch;

    height: var(--flex-height);
}

.link { color: #175d7ebe; }


/*----------------------------------------------------------------------------*/

/**********/
/*  Left  */
/**********/

#left {
    width: var(--split);
    font-size: calc( .015 * var(--width) );
}

/* Section */
#left > h1 {
    font-size: 1.6em;
    margin: .5em;
    border-bottom: 1px solid #0000003f;
}

/* Item */
.date {
    display: inline;
    font-size: .9em;
    font-style: italic;
}
#left > .date {
    transform: translate(0,10%);
    position: absolute;
    left: 3%;
}
#left > h2 {
    margin: 2% 0 1% 28%;
    text-indent: -3%;

    font-size: 1.25em;
}
#left > ul {
    margin: .2em 0 .4em 23%;
    
    font-size: 1em;
    line-height: 125%;

    list-style-type: circle;
}
#left li {
    text-indent: -1.5%;
    margin: .5% 0 .5% 0;
}


/* Education */
#classes {
    margin: 0 0 0 8.5%;
    display: flex;
    font-style: italic;
}
#classes > div {
    margin: 0 1.5% 0 1.5%;

    line-height: 1.3em;
    font-size: .95em;
}



/* Projects */
#website_plug {
    display: block;
    margin: 0 2em .9em 2em;
}
.project > .date ,
.project_skill {
    position: absolute;
    font-size: .9em;
    transform: translate(0, 9%);
}
.project_skill {
    left: 60%;
    transform: translate(-100%, -94%);
}
.project {
    display: block;
    margin: .35em 3% .35em 4.5%;
}
.project > h1 {
    display: inline;
    position: relative;

    padding: 0;
    margin-left: 7.5em;
    font-size: 1em;
}


/*----------------------------------------------------------------------------*/

/***********/
/*  Right  */
/***********/

#right {
    --empty : url("media/empty.svg");
    --filled : url("media/filled.svg");
}

#right {
    width: calc( var(--width) - var(--split) );

    background-color: #eaeaee;
    background-image: linear-gradient(to bottom right, #e3e1e4, #eaeaee, #e3e1e4);
    font-size: calc( .018 * var(--width) );
}

/* Section */
#right > h1 {
    font-size: 2.1em;
    margin: 1.1em 0 .5em .5em;
    text-align: center;

    border-bottom: 1px solid #0000002a;
}

/* Object */
#right > h2 {
    font-size: 1.5em;
    margin: .5em;
}

/* Contact */
.contact {
    display: block;
    width: fit-content;
    margin: 2% 0 2% 2em;

    font-size: 1.1em;
}
.contact > img {
    height: 1.3em;
    transform: translate(0, 22.5%);
}


/* Skills */
div[class^='skill_'] {
    position: relative;
    margin: 3% 0 3% 2em;
}

div[class^='skill_'] > div[class^='score_'] {
    position: absolute;
    display: inline-block;
    height: 1em;
    width: 1em;

    margin: 0;
    padding: 0;
    top: 50%;
    transform: translate(0,-50%);

    background-image: url("media/filled.svg");
    background-size: .95em .95em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div[class^='skill_'] > .score_1 { right: 7.25em; }
div[class^='skill_'] > .score_2 { right: 6.00em; }
div[class^='skill_'] > .score_3 { right: 4.75em; }
div[class^='skill_'] > .score_4 { right: 3.50em; }
div[class^='skill_'] > .score_5 { right: 2.25em; }

.skill_1 > .score_5 ,
.skill_2 > .score_5 ,
.skill_3 > .score_5 ,
.skill_4 > .score_5 ,

.skill_1 > .score_4 ,
.skill_2 > .score_4 ,
.skill_3 > .score_4 ,

.skill_1 > .score_3 ,
.skill_2 > .score_3 ,

.skill_1 > .score_2 ,
.skill_2 > .score_2 { background-image: url("media/empty.svg") !important; }


/*----------------------------------------------------------------------------*/

#css_brag {
    display: block;
    position: absolute;
    transform: translate(0, -100%);
    bottom: -.5%;
    right: 1em;

    font-style: italic;
    font-size: .8em;
}