
/* style.css */

/*--------------------------------------*/

/******************************/
/*  Everything not in _MAIN_  */
/******************************/

:root {
    /* Letter */
    --width  : min( 77.274vh, 100vw );
    --height : min( 100vh, 129.41vw );

    /* A4 */
    /* --width  : min( 70.711vh, 100vw );
    --height : min( 100vh, 141.421vw ); */
}

html {
    background-color: white;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

#_MAIN_ {
    position: relative;
    width  : var(--width );
    height : var(--height);
    margin: auto;

    box-shadow: 2px 2px 8px #00000066;
    transition: box-shadow .3s;

}
#_MAIN_:hover {
    transition: box-shadow .3s;
    box-shadow: 2px 2px 30px 2px #00000046;
}

/*--------------------------------------*/

/**************************/
/*  Everything in _MAIN_  */
/**************************/

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
    display: contents;
}

#_MAIN_ {
    --header-height : calc( .12*var(--height) );
    --flex-height   : calc( var(--height) - var(--header-height) );
    --split  : calc( var(--width) * .61803399 );
}

#_MAIN_ {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}


/*----------------------------------------------------------------------------*/

/**********/
/* Header */
/**********/

header {
    position: relative;
    display: block;
    width: 100%;
    height: var(--header-height);

    background-color: #e0ddde;
    background-image: linear-gradient(to top right, #dad5e6, #a5979e);
    white-space: nowrap;

    font-size: calc( .03 * var(--width) );

    box-shadow:
        0
        calc(.002*var(--width))
        calc(.008*var(--width))
        #00000054
    ;
}

header > h1 {
    margin: 0;
    padding: 2.5% 1% .5% 1%;

    font-size: 2em;
    font-weight: 600;
    text-shadow:
        calc(.003*var(--width))
        calc(.003*var(--width))
        calc(.009*var(--width))
        #0000004d
    ;
}
header > h2 {
    margin: 0;
    padding: .5% 1% 1% 1%;

    font-size: 1em;
    font-weight: 500;
    text-shadow: 0 0 0 black ;
}

#headshot {
    position: absolute;

    width: calc( .12 * var(--width) );
    transform: translate(0,-50%);
    right: 3%;
    top: 50%;

    border-radius: 100%;
    box-shadow:
        calc(-.001*var(--width))
        calc(-.001*var(--width))
        calc( .005*var(--width))
        #0000004f             ;
}


/*----------------------------------------------------------------------------*/

/*******************************/
/*  Everything in Resume Body  */
/*******************************/

#flex {
    display: flex;
    align-items: stretch;

    height: var(--flex-height);
}

.link { color: #175d7ebe; }


/*----------------------------------------------------------------------------*/

/**********/
/*  Left  */
/**********/

#left {
    width: var(--split);
    font-size: calc( .0148 * var(--width) );
}
.date {
    display: inline;

    font-size: .9em;
    font-style: italic;
    text-align: center;

    width: 10em;
    margin: .3em;
}

/* Section */
#left > h1 {
    font-size: 1.6em;
    margin: 1em .7em .7em .7em;
    border-bottom: 1px solid #0000003f;
}
#Relevant-Experience__title {
    margin-top: -.2em !important;
}

/* Object */
.object {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: .6em;
}
.object__text {
    /* border: 1px solid green; */
    flex-grow: 1;
    box-sizing: content-box;
}

#left h2 {
    font-size: 1.25em;
    margin: 0;
}
#left ul {
    font-size: 1em;
    line-height: 125%;

    list-style-type: circle;

    margin: 0;
}
#left li { }


/* Education */
#classes {
    margin: 0 0 0 8.5%;
    display: flex;
    font-style: italic;
}
#classes > div {
    margin: 0 1.5% 0 1.5%;

    line-height: 1.3em;
    font-size: .95em;
}



/* Projects */
#website_plug {
    display: inline-block;
    margin: 0 2em .9em 2em;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    margin-bottom: .4em;
}
.project * {
    margin-top: 0;
    margin-bottom: 0;
}
.project .date ,
.project__skill {
    font-size: .9em;
}
.project h1 {
    display: inline;
    font-size: 1em;

    flex-grow: 1;
}
.project__skill {
    margin-right: 1.2em;
}

/*----------------------------------------------------------------------------*/

/***********/
/*  Right  */
/***********/

#right {
    width: calc( var(--width) - var(--split) );

    background-color: #eaeaee;
    background-image: linear-gradient(to bottom right, #e3e1e4, #eaeaee, #e3e1e4);
    font-size: calc( .0176 * var(--width) );
}

/* Section */
#right > h1 {
    font-size: 2.1em;
    margin: .7em .5em .5em .5em;
    text-align: center;

    border-bottom: 1px solid #0000002a;
}

/* Object */
#right > h2 {
    font-size: 1.5em;
    margin: 0 .5em;
}

/* Contact */
.contact {
    display: block;
    width: fit-content;
    margin: 2% 0 2% 2em;

    font-size: 1.1em;
}
.contact > img {
    height: 1.3em;
    transform: translate(0, 22.5%);
}


/* Skills */
div[class^='skill_'] {
    position: relative;
    margin: .6em 0 .6em 2em;
}

div[class^='skill_'] > div[class^='score_'] {
    position: absolute;
    display: inline-block;
    height: 1em;
    width: 1em;

    margin: 0;
    padding: 0;
    top: 50%;
    transform: translate(0,-50%);

    background-image: url("media/filled.svg");
    background-size: .95em .95em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

div[class^='skill_'] > .score_1 { right: 5.75em; }
div[class^='skill_'] > .score_2 { right: 4.50em; }
div[class^='skill_'] > .score_3 { right: 3.25em; }

.skill_1 > .score_5 ,
.skill_1 > .score_4 ,
.skill_1 > .score_3 ,
.skill_1 > .score_2 ,

.skill_2 > .score_5 ,
.skill_2 > .score_4 ,
.skill_2 > .score_3 ,

.skill_3 > .score_5 ,
.skill_3 > .score_4 ,

.skill_4 > .score_5

{ background-image: url("media/empty.svg") !important; }


/*----------------------------------------------------------------------------*/

#css_brag {
    display: block;
    position: absolute;
    transform: translate(0, -100%);
    bottom: -.5%;
    right: 1em;

    font-style: italic;
    font-size: .8em;
}
